<div class="social-link">
  <a href="#"><i class="fa-brands fa-facebook"></i></a>
  <a href="#"><i class="fa-brands fa-youtube"></i></a>
  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
</div>

<div class="header">
  <h1 matBadge="4" matBadgeSize="large" matBadgeOverlap="false">Angular Material Demo Project</h1>  
</div>

<div class="menu">
  <button mat-button>Home</button>

  <button mat-button [matMenuTriggerFor]="belowMenu">Services</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>MEAN Stack</button>
    <button mat-menu-item>MERN Stack</button>
    <button mat-menu-item>DevOps</button>
  </mat-menu>

  <button mat-button matTooltip="Info about the registration" routerLink="registration">Registration</button>

  <button mat-button>Contact US</button>
</div>

<mat-toolbar color="primary">
  <span style="font-family: 'Boldonse', system-ui;">Welcome to Online Class</span>
</mat-toolbar>

<router-outlet></router-outlet>